%scrollbar {

  &::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    border-radius: 5px;
    background: #c0c6cf;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }


}

.inline-flex {
  display: inline-flex;
}

.ql-docs {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;


  article, aside, blockquote, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    outline: none;
  }

  &.bordered {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);

    .ql-docs-toolbar-container {
      justify-content: left;
    }
  }

  &.read {
    .ql-container {
      width: 85%;
      margin: 20px auto;
      padding: 30px;
      box-shadow: rgba(158, 161, 165, .4) 0px 2px 12px 0px;

      .ql-docs-toolbar-container {
        justify-content: center;
      }
    }
  }

  .ql-container {
    position: relative;
    background: #fff;
    padding: 10px;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    outline: none;
  }

}


.ql-image, .ql-video, .ql-audio, .ql-attachment {
  display: none;
}

.bee-resize-box {
  position: absolute;
  height: auto;
  max-width: 1370px;
  box-sizing: border-box;
  outline: rgb(35, 132, 209) solid 1px !important;
  z-index: 10;


  .nw-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    top: -5px;
    left: -5px;
    cursor: nw-resize;
  }

  .sw-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    left: -5px;
    bottom: 0px;
    cursor: sw-resize;
  }

  .se-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    right: -5px;
    bottom: 0px;
    cursor: se-resize;
  }

  .ne-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    top: -5px;
    right: -5px;
    cursor: ne-resize;
  }

  .n-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    top: -4px;
    right: 50%;
    cursor: n-resize;
  }

  .s-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    bottom: -4px;
    right: 50%;
    cursor: s-resize;
  }

  .e-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    top: 50%;
    right: -4px;
    cursor: e-resize;
  }

  .w-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: rgb(66, 133, 244);
    outline: rgb(255, 255, 255) solid 1px;
    top: 50%;
    left: -4px;
    cursor: w-resize;
  }


  .float-box {
    top: calc(100% + 5px);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    margin: 0.3em 0;
    padding: 8px 7px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
    border-radius: 2px;
    z-index: 1;
    box-sizing: border-box;
    transition: left 0.5s ease 0s, right 0.5s ease 0s;

    .float-item {
      margin: 0px 0px 0px 8px;
      cursor: pointer;
      width: 30px;
      height: 27px;
      line-height: 26px;

      &.active {
        .ql-icon-24-float-none {
          background-image: url(../icons/float-full-active.svg)!important;
        }

        .ql-icon-24-float-right {
          background-image: url(../icons/float-right-active.svg)!important;
        }

        .ql-icon-24-float-left {
          background-image: url(../icons/float-left-active.svg)!important;
        }

        .ql-icon-24-crop {
          background-image: url(../icons/crop-ok.svg)!important;
        }
      }


    }

    .sep {
      margin-top: 8px;
      margin-left: 5px;
      width: 1px;
      background: #ebebeb;
      height: 15px;
      line-height: 15px;
      opacity: 1;
    }
  }
}

.bee-image-preview {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10004;
  overflow: auto;

  &__box {
    cursor: move;
    position: absolute;
    z-index: 10005;
    border: 4px solid #fff;
    background: #fff;
    border-radius: 3px;

    .image {
      display: block;
      position: static;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }
  }


  &__mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__tools {
    text-align: center;
    position: fixed;
    bottom: 20px;
    padding: 0 5px;
    left: 50%;
    margin-left: -163px;
    z-index: 10006;
    height: 56px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #f2f2f2;
    min-width: 326px;
    display: flex;
    justify-content: center;
    align-items: baseline;

    .tool-item {
      display: inline-flex;
      margin: auto 10px;
      cursor: pointer;
      position: relative;
      height: 24px;

      .image-zoom-percent {
        position: relative;
        font-size: 16px;
        color: #676767;
      }

      .separate-line {
        position: relative;
        display: inline-flex;
        margin-left: 22px;
        cursor: default;
        width: 1px;
        height: 30px;
        margin-top: -2px;
        background: #e7e7e7;
      }
    }
  }
}
